@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my project </h1>
   
    <p>This is a webapp for renting movies. It was a great start to understand MVC principles and work with it. I am looking forward to use what I learnt in my future job! :)</p>
</div>
